<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../compoents/head');  %>
</head>
<body>
    <main>
        <section id="header">
            <%- include('../compoents/header');  %>
        </section>

        <section id="team-header">
            <%- include('./team-header/team-header');  %>
        </section>

        <section id="team">
            <%- include('../compoents/team');  %>
        </section>

        <section id="appointment">
            <%- include('../compoents/appointment');  %>
        </section>

        <section id="footer">
            <%- include('../compoents/footer');  %>
        </section>

        <!-- back to Start Button -->
        <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

    </main>
    
    <section>
        <%- include('../compoents/js-compoent') %> 
    </section>
</body>
</html>