<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../compoents/head') %> 
</head>
<body>
    <main>
        <section id="header">
            <%- include('../compoents/header');  %>
        </section>
        <section id="page-header">
            <%- include('./header/page-header');  %>
        </section>

        <section id="content-page">
            <%- include('./contact-page/contact-page'); %> 
        </section>

        <section id="footer">
            <%- include('../compoents/footer');  %>
        </section>

    </main>
    <!-- back to Start Button -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <section>
        <%- include('../compoents/js-compoent') %> 
    </section>
</body>
</html>