<!DOCTYPE html>
<html lang="en">
    <%- include('../compoents/head');  %> 
</head>
<body>
    <section id="header">
        <%- include('../compoents/header');  %>
    </section>
    
    <section id="Carousel">
        <%- include('../compoents/carousel');  %>
    </section>
    
    <section id="About">
        <%- include('../compoents/about');  %> 
    </section>

    <section id="appointment">
        <%- include('../compoents/appointment');  %>
    </section>




    
    <section>
        <%- include('../compoents/js-compoent') %> 
    </section>
</body>
</html>