<!DOCTYPE html>
<html lang="en">
    <%- include('../compoents/head');  %> 
</head>
<body>
    <main>
        <section id="header">
            <%- include('../compoents/header');  %>
        </section>
        
        <section id="Carousel">
            <%- include('../compoents/carousel');  %>
        </section>
        
        <section id="About">
            <%- include('../compoents/about');  %> 
        </section>
    
        <section id="appointment">
            <%- include('../compoents/appointment');  %>
        </section>
    
        <section id="feature">
            <%- include('../compoents/features');  %>
        </section>

        <section id="consultation">
            <%- include('../compoents/consultation');  %>
        </section>
        
    </main>
    

    <section>
        <%- include('../compoents/js-compoent') %> 
    </section>
</body>
</html>