<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../compoents/head') %>
</head>
<body>
    <main>
        <section id="header">
            <%- include('../compoents/header');  %>
        </section>

        <section id="service-header">
            <%- include('./service-header/service-header');  %>
        </section>  
        
        <section id="service-section">
            <%- include('./service-section/service-section');  %>
        </section>


        <section id="consultation">
            <%- include('../compoents/consultation');  %>
        </section>
        


        <!-- <section id="Testimonial">
            <%- include('../compoents/testimonial');  %>
        </section> -->
    
    
        <section id="footer">
            <%- include('../compoents/footer');  %>
        </section>

        <!-- back to Start Button -->
        <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>
    
    </main>

    <section>
        <%- include('../compoents/js-compoent') %> 
    </section>
</body>
</html>